<header class="site-header">
    <a href="/" class="site-title">salm.dev</a>
    <nav>
        <a href="/writing">writing</a><span class="sep">|</span><a
        href="/now">now</a><span class="sep">|</span><a
        href="/about">about</a><span class="sep">|</span><a
        href="/misc">misc</a><span class="sep">|</span><a
        href="/gallery">gallery</a><span class="sep">|</span><a
        href="https://github.com/nicosalm/" target="_blank">code</a>
    </nav>
    <span class="spacer"></span>
    <span class="header-right">{% include "email.njk" %}</span>
</header>
