---
layout: layouts/base.njk
title: web pages
description: web pages and resources from salm.dev
---
<h1>Web Pages</h1>
<p>Cool things. None of this is in any particular order.</p>

<h2>Big Ideas</h2>
<ul>
    <li><a href="https://opowell.com/post/talks-that-changed-the-way-i-think-about-programming/" target="_blank">Talks That Changed The Way I Think About Programming</a></li>
    <li><a href="https://www.joelonsoftware.com/2002/11/11/the-law-of-leaky-abstractions/" target="_blank">The Law of Leaky Abstractions</a> &ndash; Why you need to understand what's beneath abstractions</li>
</ul>

<h2>LLMs & Learning</h2>
<ul>
    <li><a href="https://www.justfuckingcode.com/" target="_blank">Just Fucking Code</a> &ndash; (True) satire: "The bar for programming is in the dirt..."</li>
    <li><a href="https://open.substack.com/pub/andresc/p/why-i-find-it-hard-to-learn-with" target="_blank">Why I Find It Hard to Learn With AI</a></li>
    <li><a href="https://ludic.mataroa.blog/blog/you-must-read-at-least-one-book-to-ride/" target="_blank">You Must Read At Least One Book To Ride</a> &ndash; You must simply read <em>one book</em></li>
    <li><a href="https://www.youtube.com/watch?v=sZ60bY2pJfo" target="_blank">It Only Takes Two Weeks</a> &ndash; Advice for learning and life</li>
</ul>

<h2>Tools</h2>
<ul>
    <li><a href="https://godbolt.org/" target="_blank">Godbolt Compiler Explorer</a></li>
    <li><a href="https://cheatsheetseries.owasp.org/IndexTopTen.html" target="_blank">OWASP Cheat Sheets</a> &ndash; Info on specific application security topics</li>
    <li><a href="https://scharenbroch.dev/blog/vim-bindings/" target="_blank">Every Vim Binding Lucas Knows</a></li>
</ul>

<h2>Best Practices</h2>
<ul>
    <li><a href="https://www.cloudbees.com/blog/best-practices-for-a-new-go-developer" target="_blank">Best Practices for a New Go Developer</a> &ndash; Read if you plan to code in Go</li>
    <li><a href="https://calpaterson.com/against-database-teardown.html" target="_blank">Against Database Teardown</a> &ndash; Why you should stop resetting your test database</li>
</ul>

<h2>Talks</h2>
<ul>
    <li><a href="https://www.youtube.com/watch?v=443UNeGrFoM" target="_blank">How I program in C</a></li>
    <li><a href="https://www.destroyallsoftware.com/talks/wat" target="_blank">Wat</a> &ndash; Wat!</li>
</ul>

{% include "footer.njk" %}
