---
layout: layouts/base.njk
title: web pages
description: web pages and resources from salm.dev
---
<h1>Web Pages</h1>
<p>Cool things, in no particular order:</p>

{% for group in links %}
<h2>{{ group.section }}</h2>
<ul class="post-list">
    {% for item in group.items %}
    <li>
        <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
        {% if item.desc %}<span class="desc">{{ item.desc | safe }}</span>{% endif %}
    </li>
    {% endfor %}
</ul>
{% endfor %}


{% include "footer.njk" %}
