---
layout: layouts/base.njk
title: links
description: links and resources from salm.dev
---
<style>
p, ul, ol, h1, h2, h3, h4, h5, h6 {
    max-width: none;
}
</style>
<header>
    <a href="/">home</a> / links
</header>
<h1><span>Links</span></h1>
<h4>Big Ideas</h4>
<ul>
    <li><a href="https://opowell.com/post/talks-that-changed-the-way-i-think-about-programming/" target="_blank">Talks That Changed The Way I Think About Programming</a> :: Paradigm-shifting presentations</li>
    <li><a href="https://www.joelonsoftware.com/2002/11/11/the-law-of-leaky-abstractions/" target="_blank">The Law of Leaky Abstractions</a> :: Why you need to understand what's beneath abstractions</li>
</ul>

<h4>LLMs & Learning</h4>
<ul>
    <li><a href="https://www.justfuckingcode.com/" target="_blank">Just Fucking Code</a> :: (True) satire: "The bar for programming is in the dirt..."</li>
    <li><a href="https://open.substack.com/pub/andresc/p/why-i-find-it-hard-to-learn-with" target="_blank">Why I Find It Hard to Learn With AI</a> :: How AI assistants can interfere with deep learning</li>
    <li><a href="https://ludic.mataroa.blog/blog/you-must-read-at-least-one-book-to-ride/" target="_blank">You Must Read At Least One Book To Ride</a> :: To surpass your peers, simply read <em>one book</em></li>
    <li><a href="https://www.youtube.com/watch?v=sZ60bY2pJfo" target="_blank">It Only Takes Two Weeks</a> :: Advice for learning and life</li>
</ul>


<h4>Tools</h4>
<ul>
    <li><a href="https://godbolt.org/" target="_blank">Godbolt Compiler Explorer</a> :: See how your code compiles to assembly in real-time</li>
    <li><a href="https://cheatsheetseries.owasp.org/IndexTopTen.html" target="_blank">OWASP Cheat Sheets</a> :: Concise high value info on specific application security topics</li>
    <li><a href="https://scharenbroch.dev/blog/vim-bindings/" target="_blank">Vim Bindings</a> :: Every Vim binding Lucas knows</li>
</ul>

<h4>Best Practices</h4>
<ul>
    <li><a href="https://www.cloudbees.com/blog/best-practices-for-a-new-go-developer" target="_blank">Best Practices for a New Go Developer</a> :: Essential reading if you plan to code in Go</li>
    <li><a href="https://calpaterson.com/against-database-teardown.html" target="_blank">Against Database Teardown</a> :: Why you should stop resetting your test database</li>
</ul>

<h4>Talks</h4>
<ul>
    <li><a href="https://www.youtube.com/watch?v=443UNeGrFoM" target="_blank">How I program in C</a> :: First you seek results, later you seek control</li>
    <li><a href="https://www.destroyallsoftware.com/talks/wat" target="_blank">Wat</a> :: Wat! A lightning talk by Gary Bernhardt</li>
</ul>

<footer>
    <p>© {{ "" | currentYear }} salm.dev | nico@<span style="display:none">I hope this works :)</span>salm.<span style="display:none">A second one for good measure</span>dev | <a href="https://status.salm.dev/">status</a></p>
</footer>
