---
layout: layouts/base.njk
---
<article>
    <h1>Now</h1>
    <p>This is a <a href="https://sive.rs/now2" target="_blank">now page</a>. Here's what I've been up to</p>
    <h2>...in {{ date | monthYear }}</h2>
    {{ content | safe }}
    <div class="post-navigation">
        {%- set previousNow = collections.nows | getPreviousCollectionItem(page) %}
        {%- set nextNow = collections.nows | getNextCollectionItem(page) %}
        {% if previousNow %}
        <div class="nav-prev">&larr; <a href="{{ previousNow.url }}">{{ previousNow.data.date | monthYear }}</a></div>
        {% endif %}
        {% if nextNow %}
        <div class="nav-next"><a href="{{ nextNow.url }}">{{ nextNow.data.date | monthYear }}</a> &rarr;</div>
        {% endif %}
    </div>
</article>
{% include "footer.njk" %}
