---
layout: layouts/base.njk
title: books
description: Books I've read, am reading, and want to read.
---
<h1>Books</h1>
<p>A list of what I'm reading, what I've read, and what I want to read:</p>

<h2>Reading</h2>
<ul class="post-list">
    <li class="book-item">
        <div class="book-line">
            <span><em>Permutation City</em></span>
            <span class="dot-leader"></span>
            <span class="book-author">Greg Egan</span>
        </div>
    </li>
    <li class="book-item">
        <div class="book-line">
            <span><em>How to Prove It: A Structured Approach</em></span>
            <span class="dot-leader"></span>
            <span class="book-author">Daniel Velleman</span>
        </div>
    </li>
    <li class="book-item">
        <div class="book-line">
            <span><em>Introduction to Algorithms</em></span>
            <span class="dot-leader"></span>
            <span class="book-author">Cormen et al.</span>
        </div>
    </li>

</ul>

<h2>Read</h2>
<ul class="post-list">

    <li class="book-item">
        <div class="book-line">
            <span><em>Computer Systems: A Programmer's Perspective</em></span>
            <span class="dot-leader"></span>
            <span class="book-author">Randal Bryant</span>
        </div>
    </li>
    <li class="book-item">
        <div class="book-line">
            <span><em>Designing Data-Intensive Applications</em></span>
            <span class="dot-leader"></span>
            <span class="book-author">Martin Kleppmann</span>
        </div>
    </li>
    <li class="book-item">
        <div class="book-line">
            <span><em>Operating Systems: Three Easy Pieces</em></span>
            <span class="dot-leader"></span>
            <span class="book-author">Remzi & Andrea Arpaci-Dusseau</span>
        </div>
        <!-- <div class="book-note">My professor wrote the book!</div> -->
    </li>
    <li class="book-item">
        <div class="book-line">
            <span><em>Computer Networks: A Systems Approach</em></span>
            <span class="dot-leader"></span>
            <span class="book-author">Peterson &amp; Davie</span>
        </div>
    </li>
    <li class="book-item">
        <div class="book-line">
            <span><em>The Soul of a New Machine</em></span>
            <span class="dot-leader"></span>
            <span class="book-author">Tracy Kidder</span>
        </div>
    </li>
    <li class="book-item">
        <div class="book-line">
            <span><em>Weaving the Web</em></span>
            <span class="dot-leader"></span>
            <span class="book-author">Tim Berners-Lee</span>
        </div>
    </li>
</ul>

<h2>To Read</h2>
<ul class="post-list">
    <li class="book-item">
        <div class="book-line">
            <span><em>Concrete Mathematics</em></span>
            <span class="dot-leader"></span>
            <span class="book-author">Graham, Knuth &amp; Patashnik</span>
        </div>
    </li>
    <li class="book-item">
        <div class="book-line">
            <span><em>The Art of Computer Programming, Vol. 1</em></span>
            <span class="dot-leader"></span>
            <span class="book-author">Don Knuth</span>
        </div>
    </li>
    <li class="book-item">
        <div class="book-line">
            <span><em>Database Internals</em></span>
            <span class="dot-leader"></span>
            <span class="book-author">Alex Petrov</span>
        </div>
    </li>
    <li class="book-item">
        <div class="book-line">
            <span><em>Systems Performance</em></span>
            <span class="dot-leader"></span>
            <span class="book-author">Brendan Gregg</span>
        </div>
    </li>
</ul>

<p class="post-reply">I keep a fuller log on <a href="https://www.goodreads.com/user/show/155270767-nico">Goodreads</a>.</p>

<hr/>

<h2>Motivation</h2>
<p>
    I want to read as much of the “CS canon” as possible,
    and to explore a broad range of both contemporary and classic philosophical and historical texts.
</p>

<p>
    Why? Well, for one, I was partly inspired by <a href="https://ludic.mataroa.blog/blog/you-must-read-at-least-one-book-to-ride/" target=_blank>this article</a>; for another, I used to stay up until 2 AM reading, and it’s only recently that I’ve begun to rebuild that habit.
</p>

<p>
    More broadly, I’d rather form my own opinions by reading the source material than absorb them secondhand.
</p>

<p>
    If you’ve read any of these, absolutely <a href="#" data-email="ved.mlas@ocin">email [<span class="copy-label">copy</span>]</a> me to talk about them, or about any books you’re reading that you feel are cool and worthwhile.
</p>

{% include "footer.njk" %}
