---
layout: layouts/base.njk
title: writing
---
<h1>Writing (<a href="../rss.xml">RSS</a>)</h1>

<div class="category-filters">
    <button class="category-filter active" data-category="all">all</button>
    <button class="category-filter" data-category="computing">computing</button>
    <button class="category-filter" data-category="history">history</button>
    <button class="category-filter" data-category="philosophy">philosophy</button>
    <span class="filter-legend">* favorite</span>
</div>

{%- set currentYear = null %}
{%- set firstYear = true %}
{%- for post in collections.posts %}
    {%- set postYear = post.date | year %}
    {%- if postYear != currentYear %}
        {%- if currentYear != null %}
</ul>
        {%- endif %}
        {%- if firstYear %}
<h4 class="year-heading first-year" data-year="{{ postYear }}">{{ postYear }}</h4>
            {%- set firstYear = false %}
        {%- else %}
<h4 class="year-heading" data-year="{{ postYear }}">{{ postYear }}</h4>
        {%- endif %}
<ul class="post-list">
        {%- set currentYear = postYear %}
    {%- endif %}
    <li class="post-item" data-category="{{ post.data.category }}">
        <a href="{{ post.url }}" class="post-link" data-description="{{ post.data.description | escape }}">{{ post.data.title }}</a>{% if post.data.featured %}<span class="favorite">*</span>{% endif %}
        <span class="dot-leader"></span>
        <time class="post-date" datetime="{{ post.date | dateFormat }}">{{ post.date | monthName }}</time>
    </li>
{%- endfor %}
</ul>

{% include "footer.njk" %}
<script src="/assets/js/filter.js" defer></script>
