---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 - Page Not Found">
    <div class="flex flex-col items-center justify-center min-h-[70vh] text-center">
        <h1 class="text-4xl mb-4 font-normal">404</h1>
        <img
            src="https://http.cat/404"
            alt="404 Cat - Page Not Found"
            class="w-auto max-w-full h-auto mb-8 rounded-lg shadow-lg"
            width="750"
            height="600"
        />
        <p class="text-gray-600 dark:text-gray-400 mb-8">
            This page does not exist.
        </p>
        <a
            href="/"
            class="text-blue-600 dark:text-blue-400 hover:underline"
        >
            Return home
        </a>
    </div>
</Layout>
