---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact">
  <div class="max-w-2xl mx-auto space-y-8">
    <div class="space-y-2">
      <h1 class="text-3xl">Contact</h1>
      <p class="text-gray-600 dark:text-gray-400">Have a question or want to get in touch? Reach out! ^_^</p>
    </div>

    <pre class="font-mono text-sm rounded-lg border border-gray-200 dark:border-gray-800 p-6 bg-transparent">
<span class="text-violet-600 mb-2 dark:text-violet-400">[contact-info]</span>
<span class="text-violet-600 dark:text-violet-400">twitter</span> = <a href="https://twitter.com/@salmdotdev" class="text-blue-600 dark:text-blue-400 hover:underline">"@salmdotdev"</a>
<span class="text-violet-600 dark:text-violet-400">github</span>  = <a href="https://github.com/nicosalm" class="text-blue-600 dark:text-blue-400 hover:underline">"nicosalm"</a>
<span class="text-violet-600 dark:text-violet-400">email</span>   = [<a href="mailto:nico@salm.dev" class="text-blue-600 dark:text-blue-400 hover:underline">"nico@salm.dev"</a>, <a href="mailto:salm@cs.wisc.edu" class="text-blue-600 dark:text-blue-400 hover:underline">"salm@cs.wisc.edu"</a>]</pre>
  </div>
</Layout>

<style>
pre {
  white-space: pre;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

pre span {
  display: inline-block;
  min-height: 1.5em;
}
</style>
