---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Home">
  <div class="bg-black min-h-screen">
    <Header />
    {/* Rest of your content */}
  </div>
</Layout>
