---
layout: layouts/base.njk
title: now
---
<h1>Now</h1>
<p>This is a <a href="https://sive.rs/now2" target="_blank">now page</a>. Here's what I've been up to:</p>

<h2>April 2026</h2>
<p>
    <!-- what's going on -->
</p>

{% include "footer.njk" %}
