---
layout: false
permalink: /now/index.html
eleventyExcludeFromCollections: true
---
{%- set latest = collections.nows | last %}
<!doctype html>
<meta charset="utf-8">
<meta http-equiv="refresh" content="0; url={{ latest.url }}">
<link rel="canonical" href="{{ latest.url }}">
<title>now</title>
