---
layout: layouts/base.njk
title: null
description: The personal website of Nico Salm. I write about computing, history, and philosophy.
---
<p>
    I'm <strong>Nico Salm</strong>. I recently graduated from <a href="/writing/my-wisconsin-experience/">UW-Madison</a>, and now I program professionally. You are welcome to reach out for any reason :)
</p>

<h2>Recent writing</h2>
<ul class="post-list">
    {%- for post in collections.posts | head(5) %}
    <li class="post-item">
        <a href="{{ post.url }}" class="post-link" data-description="{{ post.data.description | escape }}">{{ post.data.title }}</a>
        <span class="dot-leader"></span>
        <time class="post-date" datetime="{{ post.date | dateFormat }}">{{ post.date | monthYear }}</time>
    </li>
    {%- endfor %}
</ul>
<p><a href="/writing">All writing &rarr;</a></p>
</div>

{% include "footer.njk" %}
