---
permalink: /rss.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/rss.xsl" type="text/xsl"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Nico Salm</title>
    <link>{{ site.url }}/</link>
    <atom:link href="{{ site.url }}/rss.xml" rel="self" type="application/rss+xml"/>
    <description>Hot takes and cool things</description>
    <language>en</language>
    {%- set feed = [] %}
    {%- for item in collections.posts %}{% set _ = feed.push(item) %}{%- endfor %}
    {%- for item in collections.nows %}{% set _ = feed.push(item) %}{%- endfor %}
    {%- set feed = feed | sort(true, false, "date") %}
    {%- for item in feed %}
    {%- set isNow = "/now/" in item.url %}
    <item>
      <title>{% if isNow %}Now: {{ item.date | monthName }} {{ item.date | year }}{% else %}{{ item.data.title }}{% endif %}</title>
      <link>{{ site.url }}{{ item.url }}</link>
      <description>{% if isNow %}{{ item.data.description or "What I've been up to in " + (item.date | monthYear) | escape }}{% else %}{{ item.data.description | escape }}{% endif %}</description>
      <pubDate>{{ item.date | dateToRfc822 }}</pubDate>
      <dc:creator>{{ site.author.name }}</dc:creator>
      <guid{% if isNow %} isPermaLink="false"{% endif %}>{% if isNow %}salm.dev/now/{{ item.date | dateFormat }}{% else %}{{ site.url }}{{ item.url }}{% endif %}</guid>
    </item>
    {%- endfor %}
  </channel>
</rss>
