---
permalink: /rss.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}/</link>
    <atom:link href="{{ site.url }}/rss.xml" rel="self" type="application/rss+xml"/>
    <description>Hot takes and cool things</description>
    <language>en</language>
    {%- for post in collections.posts %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <description>{{ post.data.description | escape }}</description>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <dc:creator>{{ site.author.name }}</dc:creator>
      <guid>{{ site.url }}{{ post.url }}</guid>
    </item>
    {%- endfor %}
  </channel>
</rss>
