---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
  </url>
  {%- for page in collections.all %}
  {%- if page.url and page.url != "/" and page.url != "/404.html" and not page.data.eleventyExcludeFromCollections %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    {%- if page.date %}
    <lastmod>{{ page.date | dateFormat }}</lastmod>
    {%- endif %}
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
