---
layout: layouts/base.njk
title: bookshelf
description: books from salm.dev
---
<h1>Bookshelf</h1>
<p>None of this is in any particular order.</p>

<h2>History</h2>
<ul>
</ul>

<h2>Philosophy</h2>
<ul>
    <li>Meditations (with commentary in The Inner Citadel)</li>
</ul>

<h2>Literature</h2>
<ul>
    <li>Crime and Punishment</li>
    <li>Brave New World</li>
    <li>The Lord of the Rings</li>
</ul>

<h2>Computing</h2>
<ul>
    <li>Introduction to Algorithms (CLRS)</li>
    <li>The Soul of a New Machine</li>
    <li>Operating Systems: Three Easy Pieces</li>
    <li>Designing Data-Intensive Applications</li>
    <li>Weaving the Web</li>
</ul>

{% include "footer.njk" %}
